[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
hyperopt = "*"
xgboost = "*"
fastparquet = "*"
python-dateutil = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.13"
